@import "tailwindcss";

@theme {
  --color-background: #f8f9ff;
  --color-surface: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #464555;
  --color-primary: #3525cd;
  --color-on-primary: #ffffff;
  --color-primary-container: #4f46e5;
  --color-on-primary-container: #dad7ff;
  --color-secondary: #006a61;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #86f2e4;
  --color-on-secondary-container: #006f66;
  --color-tertiary: #684000;
  --color-error: #ba1a1a;
  --color-outline: #777587;
  --color-outline-variant: #c7c4d8;
  --font-family-sans: Inter, sans-serif;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-surface);
  -webkit-font-smoothing: antialiased;
}
